.main_chat 
  .main_header
    .main_header__group
      .main_header__groupName
        = @group.name
        %ul.main_header__memberList
          %li.main_header__members
            Member:
            - @group.users.each do |user|
              = user.name
    = link_to edit_group_path(params[:group_id]), class:"main_header__editButton" do
      Edit
  .message_list
    = render @messages
  .message_form
    = form_with model: [@group, @message], html: {class: "new_message"}, local: true do |f|
      .input_box
        = f.text_field :content, class: 'input_box__text',placeholder: 'type a message'
        = f.label :image, class: 'input_box__image' do
          = icon('far', 'image')
          =f.file_field :image, class: 'input_box__image__file'
      = f.submit 'Send', class: 'submit-btn'
